<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Mobline</title>

    <meta name="keywords" content="mobline,mob-line,magazin,online,mobila,amenajare,decor,decorațiuni,electrocasnice">
    <meta name="description"
        content="Magazin online de mobilă ce prezintă o gamă de piese de mobilier, electrocasnice și decorațiuni">


    <%- include("../fragmente/head.ejs") %>
    
    <script type="text/javascript" src=/resurse/js/produs.js></script>
</head>

<body>
    <%- include("../fragmente/header") %>

        <main>
            <%- include("../fragmente/galerie") %>
        </main>

    <%- include("../fragmente/footer") %>
</body>

</html>