<footer>
    <p id="watermark"></p>
    <div class="triunghi"><a href="#">&#5123;</a><span class="tooltiptext">Inceputul paginii</span></div></a>

    <address>
        <a href="tel:+040777777777"><span class="fa fa-phone"></span> 0777777777</a><br>
        <a href="mailto:address@gmail.com">address@gmail.com</a><br>
        <a href="https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83/@44.4355355,26.0952093,16z/data=!4m10!1m2!2m1!1sfmi!3m6!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!15sCgNmbWmSARJmYWN1bHR5X29mX3NjaWVuY2XgAQA!16s%2Fg%2F1td63tdh"
            target="_blank"> Str. Academiei Nr.14<br></a>
        <a href="https://wa.me/+40777777777" target="_blank"> Contacteaza-ne<br></a>
    </address>

    <p id="banner">Acesta este un proiect scolar. 
        <span id="mesaj-cookies">Acceptati cookie-urile de pe site? 
            <button id="ok_cookies">Ok</button></span></p>
    <small>Copyright &copy; <time datetime="2023-03-05">05 martie 2023</time></small>

</footer>